body{
    background-color: rgb(81, 81, 131);
}
header{
    height:100px;
    background-color: aqua;
    text-align: center; 
    /* display: flex; */
    margin-top: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    display: flex;
    background-color: white;
}
.Bacontitle {
    height: 300px;

}
.Bacontitle > h1{
    text-align: center;
    margin-top: 100px;
}

