
.container{
    width:50px;
    margin:auto;
}
.box{
    border: 5px solid black;
    width: 50px;
    height:50px;
    margin: auto;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.box:hover{
    background-color: blue;

}

.container:hover .box:nth-child(odd){
transform: scale(1.5, 1.5) translate(280px) rotate(360deg);
}

.container:hover .box:nth-child(even){
    transform: scale(0.5, 0.5) translate(-280px) rotate(-360deg)
}
 /* a.hover.hover{ 
    background-color: white;
} */

 /* .flex-container{  
    display:flex;
    flex-direction: column;
} */
/* #item1{
    background-color: black;
}
#item2{
    background-color:blue;
}
#item3{
    background-color: black;
}
#item4{
    background-color: blue;
}
#item5{
    background-color: black;
}
#item6{
    background-color:blue;
}
#item7{
    background-color: black;
}
#item8{
    background-color: blue;
}
#item9{
    background-color: black;
}
#item10{
    background-color: blueviolet;
}
#item11{
    background-color: black;
}
#item12{
    background-color:blue;
} */