
body{
    background-color:white;
}

main{
    width: 850px;
    height: 450px;
    margin: 0 auto;
    background-image: image()
    color: blue;
}

section{ display: flex;
    height: 324;
    flex-direction: row;
    justify-content: space-around;
}

article{
    width: 270px;
    height: 374px;
    background-color: brown;
}